/* Font */
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Montserrat&family=Roboto&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

body {
    & > section {
        width: 100%;
        min-height: 100vh;

        padding: 4rem;
      
        display: flex;
        flex-direction: column;

        &:nth-child(even) {
            background: #eee;
        }
    }
}

header {
    & > h1 {
        font-family: "Alumni Sans Pinstripe", sans-serif;
    }
}
