/* Theme */
$theme-main-text: #4c555a;
$theme-secondary-text: #7d8385;
$theme-main-color: #5dccbb;
$theme-button-one: #5dccbb;
$theme-button-one-hover: #57af9e;
$theme-button-two: #8795fe;
$theme-button-two-hover: #7d86db;
$theme-footer-bg: #f5f6f8;

/* Devices */
$phone: 480px;
$tablet: 1080px;
$desktop: 992px;
$maxDesktop: 1250px;