@use '../utils/variables' as v;

#intro{
    justify-content: center;
    align-items: center;
}

#intro-img-contaner{
    width: 100%;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    >figure{
        width: 7rem;
        
        image{
            &.fluid{
                width: 100%;
                object-fit: contain;
            }
        }
    }
}

